@font-face {
    font-family: 'Roboto';
    src: url(https://fonts.googleapis.com/css2?family=Alkalami&family=Silkscreen&display=swap);
    font-weight: normal;
    font-style: italic;
    font-family: 'Alkalami', serif;
    font-family: 'Silkscreen', cursive;
}